.hello-box {
	font-size: 1.6em;
	font-style: italic;
	color:#888;
	margin-bottom: 2em;
}

/* .hello-box {
	display: grid;
	grid-template-columns: 1fr .7fr;
	justify-items: center;
	background: var(--gradient-alpha-light);
	color: var(--color-gray-90);
	border: 2px solid rgba(255, 255, 255, 0.5);
	box-shadow:	1px 1px 0 var(--color-blue),
	2px 2px 0 var(--color-blue),
	3px 3px 0 var(--color-blue),
	4px 4px 0 var(--color-blue);
}

.hello-box .message {
	padding: 1em;
}

.hello-box picture {
	padding: 1em;
	min-height: 272px;
}

.hello-box picture img {
	border-radius: .5em;
	height: auto;
	max-width: 280px;
	width: 100%;
	object-fit: cover;
}

/* @media (prefers-color-scheme: dark) {
	.hello-box {
		--color-hello-box: #082840;
	}
} */

@media (max-width: 700px) {
	.hello-box {
		grid-template-columns: 1fr;
		margin-bottom: 0;
	}

	/* .hello-box .message {
		padding: 1em 1em 0 1em;
	} */
}