---
layout: layouts/home.njk
//eleventyNavigation:
//  key: Home
//  order: 1
numberOfLatestPostsToShow: 3
---

{%- css %}{% include "public/css/hello-box.css" %}{% endcss %}
<div class="hello-box">
	<div class="message">
		<p><strong>Hello!</strong><br>
		I'm <strong>David Aaron Pierce</strong>, an artist, occasional coder, and video games liker.</p>
		<p>I write things here, and maybe sometimes post my artwork and various experiments.</p>
	</div>
</div>

{# Latest long-form entry goes on top #}
{%- css %}{% include "public/css/featured-box.css" %}{% endcss %}
{% set featuredPost = 1 %}
{% for post in collections.longform | reverse %}
{% if featuredPost != 0 %}
<a href="{{ post.url }}" class="featured-link">
<div class="featured-box">
<h2>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h2>
<span class="feature-date">{{ post.data.page.date | htmlDateString }}</span>
<p>{{ post.data.page.excerpt }}</p>
</div>
</a>
{% set featuredPost = featuredPost -1 %}
{% endif %}
{% endfor %}

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

<p>Subscribe to my <a href="/feed/feed.xml">RSS feed</a>.</p>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
